<!DOCTYPE html>

<html xmls:th="https://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Hermandad de la Candelaria</title>

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Ejemplo de Lista con Servicios y demás</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 main">
				<h1>Listado de hermanos</h1>
				<div class="row">
					<div class="col-sm-3" th:each="hermano : ${hermano}">
						<a href="#">
							<div class="col-item">
								<div class="info">
									<div class="row">
										<div class="price col-md-12">
											<h5 th:text="${hermano.nombre + ' ' + hermano.apellidos}">Nombre</h5>
											<p th:text="${hermano.email}">Email</p>
											<div class="price-text-color">
											</div>
										</div>
									</div>

								</div>
							</div>
					</div>
					</a>
				</div>
			</div>

		</div>
	</div>

	</div>

</body>

</html>